@import url('https://fonts.googleapis.com/css?family=Exo+2|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Tajawal'); 
@import url('https://fonts.googleapis.com/css?family=Raleway'); 
@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro'); 

* { box-sizing: border-box; } 

body { 
background-color: rgb(234, 234, 245); 
  text-decoration: none; 
} 

p { 
padding: 10px; 
font-family: "Source Sans Pro"; 
} 


header {
background-image: url(http://www.slate.com/content/dam/slate/blogs/bad_astronomy/2016/04/18/shainblum_valleyofthecosmos.jpg.CROP.original-original.jpg); 
width: 97%; 
height: 300px; 
border: 2px solid royalblue; 
padding: 15px 5px; 
margin: 20px; 
border-radius: 20px; 
text-align: center; 
} 

.title 
{ 
Color: rgb(155, 232, 206);
font-family: 'Raleway'; 
text-align: center; 
margin-top: 70px; 
} 

article { 
  Height: 130px; 
  background-color: rgb(211, 211, 232); 
  border: 2px solid royalblue; 
  margin: 10px; 
  border-radius: 20px; 
  padding: 5px; 
} 

.live { text-decoration: none; } 
.live > .def {
  display: none;
  text-decoration: none; 
} 

.live:hover > .def {
  display: block; 
  text-decoration: none; 
  border: 2px dashed brown;
  background-color: rgb(255, 255, 119); 
  margin: 3px; 
  border-radius: 15px; 
  border-top-left-radius: 2px; 
  padding: 3px; 
  text-align: center; 
} 

.def { text-decoration: none; } 

article > p > .live:hover { 
  margin-bottom: 20px; 
} 

.live:hover { text-decoration: underline; } 

.lead { 
  font-weight: 700; } 

.overarching { 
  height: 600px; 
  margin: 20px; 
  padding: 15px; 
  background-image: url(https://cdn.suwalls.com/wallpapers/fantasy/boy-with-his-kite-in-a-blue-night-25631-2560x1440.jpg); 
} 

footer { 
border-radius: 20px; 
height: 80px; 
background-color: rgb(211, 211, 232); 
margin: 15px;
padding: 5px; 
border: 2px solid royalblue;  
}  

.disclaimer { 
display: block; 
margin: 5px; 
margin-left: 15px; 
}
 

a { 
  text-decoration: none; 
  color: black; } 
  

nav { 
  margin: 10px;
  text-align: center;
  margin-bottom: 5px; 
  } 

nav > ul { 
  display: inline-block; 
  text-align: center; 
  margin: 10px; 
  border: 2px solid royalblue;
  background-color: rgb(155, 232, 206); 
  color: black;
  text-align: center; 
  border-radius: 20px;  
  width: 600px;  
} 

nav > ul > li {  
  height: 20px; 
  margin: 1px;
  border-radius: 20px; 
  display: inline-block; 
 } 

nav > ul > li > a {
  font-family: "exo 2";
  text-decoration: none;
  padding: 2px; 
  margin-right: 8px; 
} 

nav > ul > li > ul { 
  display: none; 
  position: absolute; 
  padding: 0; 
}

nav > ul > li > ul { list-style-type: none; } 

nav > ul > .drop_projects:hover > ul {display: block; } 

nav > ul > li:hover > ul {display: block; } 

nav > ul > li:hover, nav { margin-bottom: 40px; } 


